body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #e5f675, #dd5e0e);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: 
         linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: 0.5;
    pointer-events: none;
}
